{#
/**
 * @file acceptance_submission.html.twig
 * Default theme implementation to present Acceptance submission data.
 *
 * This template is used when viewing Acceptance submission pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_acceptance_submission()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('acceptance_submission') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
