{#
/**
 * @file regulation.html.twig
 * Default theme implementation to present Regulation data.
 *
 * This template is used when viewing Regulation pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_regulation()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('regulation') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
